body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    color: #fff;
    padding: 1em;
    text-align: center;
    height: 480px;
}

.logo {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    max-height: 300px;
    z-index: 2;
    border: 0px solid rgb(233, 239, 241);
}

.hero {
    display: block;
    width: 100%;
    position: absolute;
    background: url(images/home1.jpg) center/cover no-repeat;
    height: 250px;
    margin-bottom: 0px;
}

/* Article Styles */
article {
    position: relative;
    top: 90%;
    left: 75%;
    transform: translate(-80%, -80%);
    background-color: rgba(62, 116, 203, 0.551);
    margin-right: 20px;
    padding: 20px;
    width: 80%;
    height: 75%;
    color: #fff;
    z-index: 1;
    top: -125px;
    display: flex;
}

article img {
    margin-left: 20px;
    width: 250px;
    height: 200px;
    order: 1;
}

article p {
    flex: 1;
}

/* Navigation Styles */
nav {
    background-color: #3366cc;
    color: #fff;
    text-align: left;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    text-align: left;
    grid-column: 2;
}

/* Main Styles */
main {
    padding: 2em;
}

/* H1 Styles */
h1 {
    font-size: 4.5em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 0 rgb(10, 123, 168);
    line-height: 1.5;
    margin-bottom: 0.5em;
    margin-top: 80px;
}

/* Secondary Banner Styles */
.secondary-banner nav {
    display: flex;
    justify-content: flex-end;
}

.secondary-banner nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

/* Home Styles */
#home {
    background: linear-gradient(to right, #3366cc, #66cc99);
    color: #fff;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
}

#home h2 {
    font-size: 3.5em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 0 rgb(10, 123, 168);
    line-height: 1.5;
    margin-bottom: 0.5em;
}

/* Header P Styles */
header p {
    font-size: 2.5em;
    font-weight: lighter;
    color: white;
    text-shadow: 2px 2px 0 rgb(10, 123, 168);
    line-height: 1.5;
    margin-top: -60px;
    margin-bottom: 0.5em;
}

/* Button Styles */
.find-trip-btn,
.about-us-btn {
    padding: 0.5em 1em;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.find-trip-btn {
    background-color: #3366cc;
    color: #fff;
}

.about-us-btn {
    background-color: #e2a57d;
    color: #fff;
}

/* Section Styles */
section {
    margin-bottom: 2em;
}

/* Top Banner Styles */
.top-banner {
    background-color: #3366cc;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.logo {
    grid-column: 2;
}

.contact-icons {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Footer Styles */
footer {
    background-color: #3366cc;
    margin-top: 30px;
    color: #fff;
    text-align: center;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.footer-left {
    grid-column: 2;
}

.footer-right {
    grid-column: 3;
    text-align: right;
}

.social-icons a {
    margin-left: 1em;
}

/* Recommended Styles */
#recommended {
    text-align: center;
    padding: 2em;
    background-color: #fff;
}

#recommended img {
    max-width: 170%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 150px;
}

/* History Styles */
#history {
    text-align: center;
    background-color: #fff;
    font-size: 25px;
}

#history img {
    max-width: 170%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 150px;
}

/* Adventure Styles */
#adventure {
    text-align: center;
    background-color: #fff;
    font-size: 25px;
}

#adventure img {
    max-width: 170%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 150px;
}

/* Body Styles */
.body,
.body2 {
    margin-top: 1px;
    height: auto;
    display: grid;
    grid-gap: 5px;
    padding: 2px;
    text-align: center;
}

/* Body Text and Image Styles */
.body-text,
.body-image,
.body-text-2 {
    padding: 5px;
    text-align: left;
}

.body-image img {
    box-shadow: 0 0 20px rgba(176, 224, 230, 0.8);
    max-width: 100%;
    max-height: 100%;
}

/* Map Styles */
.map iframe {
    border: 0;
    max-width: 300%;
    max-height: 350%;
}

/* Social Icons Row Styles */
.social-icons-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.social-icons-row a {
    margin: 0 1em;
}

/* Recommended H2 and P Styles */
#recommended h2,
#recommended p {
    margin: 0;
}

#recommended h2 {
    font-size: 2.5em;
    line-height: 1.5;
}

#recommended p {
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.2;
}

/* Row Container Styles */
.row-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
}

/* Left and Right Column Styles */
.left-column,
.right-column {
    flex: 0 0 calc(50% - 10px);
}

/* Newsletter Form Styles */
#newsletter-form {
    max-width: 800px;
    margin: 0 auto;
    background-color: #e8e2e2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(55, 53, 53, 0.1);
}

#newsletter-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#newsletter-form input,
#newsletter-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* YouTube Video Styles */
#youtube-video {
    max-width: 800px;
    margin: 0 auto;
    align-content: center;
    margin-left: 500px;
}

/* Subscribe Button Styles */
#newsletter-form button {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #FFA500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    align-content: center;
}

/* Form Styles */
form {
    width: 80%;
    margin: 0 auto;
}

/* H4 Styles */
h4 {
    text-align: center;
    color: #333;
    font-size: larger;
    margin-left: 400px;
}

/* Input Styles */
input[type=text],
select,
textarea {
    width: 200%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
}

/* Submit Button Styles */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Container Styles */
.container {
    width: 600px;
    padding: 2px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 6px;
    margin-left: 250px;
}

/* Button Styles */
button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Employee Info Styles */
.employee-info {
    position: relative;
}

/* Label Styles */
.label,
.label2,
.label3,
.label4 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.label {
    background-color: yellow;
    color: rgba(0, 0, 0, 0.478);
}

.label2 {
    background-color: rgb(239, 174, 133);
    color: rgb(241, 238, 238);
}

.label3 {
    background-color: rgb(228, 41, 119);
    color: rgb(246, 244, 244);
}

.label4 {
    background-color: rgb(76, 78, 222);
    color: rgb(238, 236, 236);
}

/* Map Styles */
.map {
    flex: 1;
    width: 450px;
    margin-right: 20px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #e6e6e6;
}

/* Learn More Button Styles */
.learn-more-btn1,
.learn-more-btn2,
.learn-more-btn3,
.learn-more-btn4 {
    display: inline-block;
    position: absolute;
    padding: 10px 20px;
    background-color: skyblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 80px;
    margin-top: -10px;
}